/* Ailene CSS */
#customcrypt_wrapper .contact__button {
  margin-top: 4rem;
}

.header__icon .icon.new-icon {
  fill: initial;
}

.with-icon {
    display: flex;
    align-items: center;
}

.with-icon::before {
  width: 2.5rem;
  height: 2.5rem;
  content: "";
  display: block;
  position: absolute;
  margin-left:15px;
}
details#Details-menu-drawer-menu-item-1 {
    width: 100%;
}
.menu-drawer__menu-item__with_icon {
    padding: 1.1rem 5.1rem !important;
    text-decoration: none;
    font-size: 1.8rem;
    width:100%;
}

.icon-shop::before {
  content: url(//cdn.shopify.com/s/files/1/0269/9254/1757/t/150/assets/Shop.svg?v=69335143020129279041687128025);
}

.icon-recipes::before {
  content: url(//cdn.shopify.com/s/files/1/0269/9254/1757/t/150/assets/Recipes.svg?v=19368252933003178241687128025);
}

.icon-faqs::before {
  content: url(//cdn.shopify.com/s/files/1/0269/9254/1757/t/150/assets/FAQs.svg?v=117624829460445616271687128025);
}
.icon-sugar-free::before {
  content: url(//cdn.shopify.com/s/files/1/0269/9254/1757/t/150/assets/Gifts.svg?v=147152198644577427521687128025);
}
.icon-boba-plushies::before {
  content: url(//cdn.shopify.com/s/files/1/0269/9254/1757/t/150/assets/Panda%20Bobamon.svg?v=151515885782552619801687128025);
}
.icon-eofy-sales::before {
  content: url(//cdn.shopify.com/s/files/1/0269/9254/1757/t/150/assets/Pricetag%20icon.svg?v=98162802400286890041687128025);
}