modal-dialog .product-popup-modal__content-info .card__heading a:after{display:none !important;}

/** Custom Select **/
.product-popup-modal .custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
  width: 100%;
}
  .product-popup-modal .custom-select-wrapper select {
    display: none;
  }
  .product-popup-modal .custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    z-index: 99;
}
    .product-popup-modal .custom-select-trigger {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 79px 0 25px;
    font-size: 16px;
    font-weight: 300;
    color: #050445;
    line-height: 22px;
    background: #ccbedd;
    border-radius: 35px;
    border: 2px solid #8f8b8e;
    cursor: pointer;
}

@media screen and (min-width:750px){
   .product-popup-modal .custom-select-trigger {
     position: relative;
    display: flex;
    flex-direction: column;
     width: inherit !important;
     padding: 5% 26% 5% 21%;
    font-size: 15px;
    font-weight: 300;
    color: #050445;
    line-height: 22px;
    background: #ccbedd;
    border-radius: 35px;
    border: 2px solid #8f8b8e;
    cursor: pointer;
   }
}
.product-popup-modal .custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    right: 25px;
    margin-top: -3px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg) translateY(-50%);
    transition: all .4s ease-in-out;
    transform-origin: 50% 0;
}
      .product-popup-modal .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .product-popup-modal .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .product-popup-modal .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }
    .product-popup-modal .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .product-popup-modal .option-hover:before {
      background: #f9f9f9;
    }
    .product-popup-modal .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #000;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .product-popup-modal .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .product-popup-modal .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .product-popup-modal .custom-option:hover,
    .product-popup-modal .custom-option.selection {
      background: #f9f9f9;
    }

.product-popup-modal .custom-select.bg-black span.custom-select-trigger::after {
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}

@media and (min-width: 750px) {
    .product-popup-modal .custom-select.bg-black span.custom-select-trigger {
      position: relative;
      display: flex;
      flex-direction: column;
      width: inherit!important;
      padding: 5% 40% 5% 35%;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      border-radius: 35px;
      border: 2px solid #8f8b8e;
      cursor: pointer;
      background-color: #000;
      color: #fff;
  }
}

.product-popup-modal .custom-select.bg-black span.custom-select-trigger {
      position: relative;
      display: flex;
      flex-direction: column;
      width: inherit!important;
      padding: 8% 25% 8% 20%;
      font-size: 15px;
      font-weight: 300;
      line-height: 22px;
      border-radius: 35px;
      border: 2px solid #8f8b8e;
      cursor: pointer;
      background-color: #000;
      color: #fff;
  }


